

.inner h1 {
    font-size: 50px;
    font-weight: 500;    
    color: #00b1ff;
    margin-top: 50px;
}
.welcome{
    background-color: #ccc;
}
.inner h2 {
    font-size: 40px;
    font-weight: normal;
    color: #00b1ff;
    margin-top: 40px;
}
/* form{
    max-width: 500px;
    margin: 30px auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.form-group {
    width: inherit;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 30px 0;    
}
.form-group label,
.form-group input{
    display: block;    
    width: 300px;
}

.form-group label{
    margin-bottom: 15px;
    text-align: left;
}

.form-group input{
    height: 40px;
    box-shadow: 2px 1px 13px 0 rgba(35, 24, 21, 0.11);    
    padding-left: 10px;
    box-sizing: border-box;
}

input[type=submit]{
    padding-left: 0;
    cursor: pointer;    
}

input[type=submit]:hover{
    box-shadow: 2px 6px 13px 0 rgba(22, 26, 24, 0.11);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate3d(1px,1px,10px);
} */

.wrap span{
    color: #00b1ff;
}