.question-wrap{
}

.prev{
    float: left;
}
.modelwrap{

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.ques-model{
    width: 200px;
    height: 100px;
    line-height: 100px;
    color: #fff;
    background: #00b1ff;
}