.option {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 10px;
}
.selected{
    color:#fff;
    background-color: #ccc;
}

.blue{
    color:#fff;
    background-color: #00b1ff;
}
.error {
    border-color: #f00;
    background-color: #f00;
    font-size: 0;
}

.error::before {
    position: absolute;
    content: "";
    top: 15px;
    left: 5px;
    width: 20px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
}

.error::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 5px;
    width: 20px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg);
}

.right {
    border-color: #00b1ff;
    background-color: #00b1ff;
    font-size: 0;
}

.right::before {
    position: absolute;
    content: "";
    top: 17px;
    left: 4px;
    width: 10px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
}

.right::after {
    position: absolute;
    content: "";
    top: 14px;
    right: 2px;
    width: 18px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg);
}