.component-question .ques {
    margin-top: 20px;
    text-align: left;
}

.component-question .btn {
    /* margin-top: 30px; */
    display: inline-block;
    padding: 5px 8px;
    color: #fff;
    background-color: #00b1ff;
    cursor: pointer;
    letter-spacing: 3px;
}

.component-question .prev {
    float: left;
}

.component-question .ques span {
    font-size: 12px;
    padding: 2px 3px;
    margin-right: 10px;
    color: #00b1ff;
    border: 1px solid #00b1ff;
}

.component-question .comment-area {
    text-align: left;
    margin-top: 50px;
}