body{
    background-color: #fbfbfb;
    -moz-user-select: none;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -o-user-select: none; 
    user-select: none;
}

.inner {
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}

li{
    list-style: none;
}

input{
    border: none;
    outline: 0;
}